body{
    text-align: center;
	margin: 10px;
	font-family: Arial, sans-serif;
	background-color: rgb(100 5 200);
	color: white;
}
table h1{
	text-align: center;

}
div{
	margin-top: 75px;
	font-family: Arial, sans-serif;
	margin-bottom: 200px;
}
table{
	border: solid;
	border-color: white;
	margin-left: 30%;
	margin-right: 30%;
}
th{
	border: solid;
	border-color: white;
}
td{
	
	border-color: gray;
	border-style: solid;
	padding: 30px;
	text-align: center;

}
footer{
	text-align: left;

}