body{
    text-align: center;
	margin: 10px;
	font-family: Arial, sans-serif;
	background-color: rgb(100 5 200);
	color: white;
}
img{
	width: 300px;
	height: 420px;
	display: block;
}

div{
	float: left;
	text-align: center;
	padding: 10px;
	margin-bottom: 200px;
	
}
footer{
	text-align: left;
	width: 200px;
}